# dependencies
node_modules

# next.js
.next
out
dist

# vercel
.vercel

# logs
*.log
npm-debug.log*

# env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.env*
